section {
    margin-top: 20px;
    padding-bottom: 20px;
}
section select{
    height: 35px;
    margin-left: 10px;
}
.control{
    text-align: center;
}
.custom-range{
    margin-left: 10px;
    width: 300px;
}
.percent-text{
    margin-left: 10px;
}