.footer {
  width: 71.5vw;
  margin: 5px 0 auto;
  min-height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  color: #fff;
  box-shadow: 5px -1px 10px #777;
}
