.logoWrapper {
  text-align: center;
}

.navigation {
  background-color: black;
  box-shadow: 1px 1px 10px #777;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.nav li {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
}

.nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0 15px 30px;
  box-sizing: border-box;
  font-weight: 600;
}
.nav li a {
  position:relative;
  z-index: 1;
}
.nav li a:hover {
  color: #91640F;
}
.nav li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: rgba(192,192,192,.3);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.nav li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.nav a:hover,
.nav a.active {
  background-color: #d4c27d;
  border-color: #EBEBEB;
}